[submodule "deps/imtui"]
	path = deps/imtui
	url = https://github.com/ggerganov/imtui.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ggerganov/imgui.git
	branch = imtui-v1.81
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json
[submodule "deps/sockpp"]
	path = deps/sockpp
	url = https://github.com/fpagliughi/sockpp.git
